html {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(185, 221, 185);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.sketch-container {
    width: 600px;
    height: 600px;
    background-color: rgb(211, 214, 211);
    border: 2px solid rgb(0,0,0,.4);
    display: flex;
    flex-wrap: wrap;
}
.sketch-container div {
    background-color: white;
    outline: 1px solid rgb(0,0,0,.1);
}

button {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;


}
